body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* background: linear-gradient(90deg, #4343ff 0%, #f96d6d 100%); */
